<div class="card-container">
  <mat-card>
    <mat-card-header align="center">
      <mat-card-title>Login</mat-card-title>
      <mat-card-subtitle
        >Realize o login para acesso ao sistema</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <form
        class="form-container"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
      >
        <!-- TODO componentes específicos que emitem o form -->
        <mat-form-field appearance="outline">
          <mat-label>Usuário</mat-label>
          <input
            autocomplete="off"
            formControlName="username"
            matInput
            type="text"
            maxlength="20"
            placeholder="Nome"
            required
          />
          <mat-error>Forneça um nome de usuário válido</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Senha</mat-label>
          <input
            autocomplete="off"
            formControlName="password"
            matInput
            type="password"
            placeholder="Senha"
            maxlength="20"
            required
          />
          <mat-error>Forneça uma senha válida</mat-error>
        </mat-form-field>
        <div class="form-container__actions">
          <button
            mat-raised-button
            type="submit"
            color="primary"
            [disabled]="controls.username.invalid || controls.password.invalid"
            [routerLink]="['/main']"
          >
            Login
          </button>
          <a mat-button class="form-container__actions__new-user" [routerLink]="['/main']"
            >Novo Usuário</a
          >
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
