.nav-items {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  width: 100%;
  padding: 1rem 3rem;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
}

.nav-icon {
  margin-right: 1rem;
}
