@import './../../styles/base/_animations.scss';
@import './../../styles/abstracts/_variables.scss';

mat-card {

  table {
    width: 100%;

    .mat-column-username {
      width: 35%;
    }

    .mat-column-email {
      width: 35%;
    }

    .mat-column-active {
      width: 10%;
    }

    .mat-column-createdOn {
      width: 20%;
    }
  }
}
