<h1 mat-dialog-title>Nova Consulta: <strong>{{ patient.name }}</strong></h1>
<div mat-mat-dialog-content>
  <form class="form-container" [formGroup]="newExamForm">
    <mat-form-field appearance="outline">
      <mat-label>Data da Consulta</mat-label>
      <input
        autocomplete="off"
        formControlName="date"
        matInput
        type="date"
        [min]="minExamDate"
        minlength="10"
        maxlength="10"
        placeholder="dd/MM/yyyy"
        required
      />
      <mat-error>Forneça uma data válida</mat-error>
    </mat-form-field>


  </form>

</div>
<div mat-dialog-actions class="form-container__actions" align="end">
  <button
    mat-raised-button
    color="primary"
    [disabled]="!examFormControls.date.valid"
    (click)="onSubmit()"
  >
    Cadastrar
  </button>
</div>
