mat-card {

  table {
    width: 100%;

    .mat-column-patient {
      width: 40%;
    }

    .mat-column-healthPlan {
      width: 10%;
    }

    .mat-column-date {
      width: 20%;
    }

    .mat-column-checkIn {
      width: 20%;

      .checkIn {
        &__data {
          display: flex;
          flex-flow: row nowrap;
          justify-content: flex-start;
          align-items: center;
        }
      }

    }

    .mat-column-actionsRow {
      width: 10%;

      .actions-row {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
      }
    }


  }

  .muted-row {
    background-color: #eee;

    & > *, .mat-icon {
      color: darken(#eee, 15%) !important;
      pointer-events: none;
    }
  }
}
