<mat-card>
  <mat-card-header>
      <mat-card-title>Consultas Agendadas</mat-card-title>
      <mat-card-subtitle>Acompanhamento do andamento das consultas agendadas</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <ng-container *ngIf="exams$ | async as exams; else loading">
        <table mat-table [dataSource]="exams">

          <ng-container matColumnDef="patient">
            <th mat-header-cell *matHeaderCellDef> Paciente </th>
            <td mat-cell *matCellDef="let exam">{{ exam.patient.name }}</td>
          </ng-container>

          <ng-container matColumnDef="healthPlan">
            <th mat-header-cell *matHeaderCellDef> Convênio </th>
            <td mat-cell *matCellDef="let exam">{{ exam.patient.healthPlan }}</td>
          </ng-container>

          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Consulta </th>
            <td mat-cell *matCellDef="let exam">{{ exam.date | date: "dd/MM/yyyy" }}</td>
          </ng-container>

          <ng-container matColumnDef="checkIn">
            <th mat-header-cell *matHeaderCellDef> Check-In </th>
            <td mat-cell *matCellDef="let exam">
              <div class="checkIn__data">
                <mat-icon
                  color="primary"
                  class="checkIn__data--icon"
                  *ngIf="exam.checkIn; else noCheckIn">
                  check_circle
                </mat-icon>
                <div class="checkIn__data--date" >
                  {{ exam.checkIn | date: "dd/MM/yyyy 'às' hh:mm" }}
                </div>
              </div>
              <ng-template #noCheckIn>
                <div class="checkIn__data">
                  <mat-icon color="warn">
                  cancel
                  </mat-icon>
                </div>
              </ng-template>
            </td>
          </ng-container>

          <ng-container matColumnDef="startExamBtn">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let exam">
              <button mat-icon-button color="primary" aria-label="Entrar na consulta">
                <mat-icon (click)="startExam(exam.patient)">login</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let exam; columns: columnsToDisplay" [ngClass]="{ 'muted-row': exam.finished }"></tr>
        </table>
      </ng-container>
      <ng-template #loading>
        <p>Carregando</p>
      </ng-template>
  </mat-card-content>
</mat-card>
